@model RWRecrut.Models.CandidateContactModel

<fieldset>
    <legend>CandidateContactModel</legend>

    @*<div class="display-label">
         @Html.DisplayNameFor(model => model.SelectedId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SelectedId)
    </div>*@
    <p>

        @Html.DisplayFor(model => model.NewContactData)
        @Html.DisplayFor(model => model.NewContactType)

        @*<div class="display-label">
        @Html.DisplayNameFor(model => model.NewContactType)
    </div>
    <p class="display-field">

    </p>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.NewContactData)
    </div>
    <p class="display-field">

    </p>*@
    </p>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
