@model RWRecrut.Models.CandidateContactModel

<script src="~/Scripts/jquery-1.8.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>CandidateContactModel</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.SelectedId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SelectedId)
            @Html.ValidationMessageFor(model => model.SelectedId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.NewContactType)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NewContactType)
            @Html.ValidationMessageFor(model => model.NewContactType)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.NewContactData)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NewContactData)
            @Html.ValidationMessageFor(model => model.NewContactData)
        </div>
        <input type="text" id="newContactType" name="ContactModel.NewContactType" value="defaultValue" />
        <input type="text" id="newContactData" name="ContactModel.NewContactData" value="defVal" />
        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
