@model RWRecrut.Models.Contact

<script src="~/Scripts/jquery-1.4.4.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>


@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Contact</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.CandidateId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CandidateId)
            @Html.ValidationMessageFor(model => model.CandidateId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CintactTypeId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CintactTypeId)
            @Html.ValidationMessageFor(model => model.CintactTypeId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Info)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Info)
            @Html.ValidationMessageFor(model => model.Info)
        </div>

        <p>
            <input type="submit" value="Create" formmethod="post" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
